{% extends 'base.html' %}


{% block seotag %}
    <title>Email signup form / confirmation check.</title>
{% endblock seotag %}



{% block maincontent %}


  {% if already_confirmed %}

    <section id="ajax_response">

      <h2>You've been on the list</h2>

    </section>


  {% elif remind_check_email %}

    <section id="ajax_response">

      <h2>You were already sent an email</h2>
      <h3>Check your inbox, AND spam box</h3>
      <p>It's from <u><span>do not</span> repl<span>y @ Cyb</span>er Ha<b></b>ven Program<span>ming . com</span></u></p>
      <p>If you deleted my email on accident, just contact me at the link up top and I'll add you. I do this to prevent spam.</p>

    </section>



  {% elif email_sent %}

    <section id="ajax_response">

      <h2>Thanks! Please go check your email to confirm it</h2>
      <h3>You will only be sent ONE email to prevent spam. <mark>So check your spam folder.</mark></h3>
      <p>It's from <u><span>do not</span> repl<span>y @ Cyb</span>er Ha<b></b>ven Program<span>ming . com</span></u></p>
      <p>If you don't get the email within 2 minutes, my mail server must be overloaded, but that's unlikely.</p>
      <p>If you delete my email on accident, just contact me at the link up top and I'll add you. I do this to prevent spam.</p>

    </section>


  {% elif signed_up %}

    <section id="ajax_response">

      <h2>You're in!</h2>
      <p>I promise not to spam you either.</p>

    </section>


  {% elif unconf_email %}

    <section id="ajax_response">

      <h2>Please confirm your email</h2>

      <p><strong>{{ unconf_email.user_email }}</strong></p>

      <form class="margintop50px" action="{% url 'email_signup_app:email_signup_confirm' unconf_email.id unconf_email.random_uuid %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Confirm!" class="submitbox">
      </form>

    </section>


  {% elif wants_to_unsub %}

    <section id="ajax_response">

      <h1>Remove yourself from the email list???</h1>
      <p>Please type your email below to confirm it.</p>

      <form class="margintop50px" action="{% url 'email_signup_app:email_unsubscribe' this_subscriber.id this_subscriber.random_uuid %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Remove Me!" class="submitbox">
      </form>

    </section>


  {% elif email_doesnt_exist %}

    <section id="ajax_response">

      <h1>That email doesn't exist</h1>
      <p>Please retype it.</p>

      <form class="margintop50px" action="{% url 'email_signup_app:email_unsubscribe' this_subscriber.id this_subscriber.random_uuid %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Remove Me!" class="submitbox">
      </form>

    </section>


  {% elif removed %}

    <section id="ajax_response">

      <h1>You are now off the list</h1>
      <p>But please allow up to a week to not receive any more emails. Before emails are sent, they're saved in a database, and are not deleted until after they're sent.</p>

    </section>


  {% else %}

    <section id="ajax_response">

      <h2>Email signup form</h2>

      <form method="POST" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="submitbox" value="Submit!">
      </form>

    </section>

      <h2 class="margintop100px">Explanation of this app for people interested in hiring me</h2>

      <p>Once you signup you will be sent an email with a link to a unique url to go confirm it, such as <span class="nowrap">MyWebsite.com/email_signup_app/<b><u>1</u></b>/ycgj23-vqrt7ner-t2tu-ea4tbs-ad3tuij0811dr/</span></p>
      <h3>Here's what that url means and why it's important</h3>
      <p>I'll bet you've seen urls like that many places before. Well in the database, every item inserted has an id that increments by 1 automatically. In the example above, the id
        is <b><u>1</u></b> because of the <span class="nowrap">...com/email_signup_app/1/...</span> After that I have something called a <em>Universal Unique ID</em> added to it. The purpose of it is so random people can't go
        to <span class="nowrap">MyWebsite.com/email_signup_app/1/</span>, 2, 3, 4, 5, etc., guess the emails, and confirm them.</p>
      <p>Without that UUID, anyone could confirm or delete an entire email list very easily by starting at 1 and going until all emails are all confirmed, or entirely gone. This UUID makes it nearly impossible to do so, because
        they'd have to guess over 48,800,000,000,000,000,000,000,000,000,000,000,000,000,000,000 combinations. So they're one way of protecting data.</p>
    </section>

  {% endif %}


{% endblock maincontent %}





{% block javascript %}


{% endblock javascript %}
