{% extends 'base.html' %}


{% block head_tag_seo %}
    <title>Email signup form</title>
{% endblock head_tag_seo %}


{% block maincontent %}


  {% if go_check_email %}

    <h1 class="margintop100px">Thanks!</h1>
    <h2>{{ go_check_email }}</h2>

    <p>You will only be sent one email, so please don't delete it. Make sure you check your spam folder too just to be sure.</p>

  {% else %}

    <h1 class="margintop100px">Email signup form:</h1>

    <p><strong><u>Signup to get a free PDF.</u></strong></p>
    <p>Once you fill out your email below you'll be sent a confirmation email. After confirming you'll be sent a link to download it.</p>
    <p>It might take a few minutes to get it. The time depends on my server's load and the web api I'm using.</p>

    <form method="POST" action=".">
      {% csrf_token %}
      {{ form }}
      <input type="submit" class="submitbox disp_block center_input_25px_margin_top" type="submit" value="Sign Up!">
    </form>

  {% endif %}

{% endblock maincontent %}
