{% extends 'base.html' %}


{% block seotag %}
    <title>Confirmation check:</title>
{% endblock seotag %}


{% block maincontent %}

  <h1 class="margintop100px">Confirmation check:</h1>

  <p>Please type your email below and click confirm to remove yourself from this list. No need to worry about capitals. It's all lowered on the server anyway.</p>

  <form action="." method="POST">
    {% csrf_token %}
    <input name="remove_email" type="text">
    <input type="submit" value="Confirm!" class="submitbox">
  </form>

{% endblock maincontent %}
